DRTS/WebContent/wsdl/AimsDrtsServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:n1="http://drts.fsa.ed.gov/AimsDrts" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://drts.fsa.ed.gov/AimsDrtsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AimsDrtsService" targetNamespace="http://drts.fsa.ed.gov/AimsDrtsService">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://drts.fsa.ed.gov/AimsDrtsService">
			<xsd:import namespace="http://drts.fsa.ed.gov/AimsDrts" schemaLocation="aimsDrts.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CreateAccountRequest">
		<wsdl:part element="n1:CreateAccountRequest" name="CreateAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateAccountResponse">
		<wsdl:part element="n1:CreateAccountResponse" name="CreateAccountResponse"/>
	</wsdl:message>

	<wsdl:message name="DeleteAccountRequest">
		<wsdl:part element="n1:DeleteAccountRequest" name="DeleteAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteAccountResponse">
		<wsdl:part element="n1:DeleteAccountResponse" name="DeleteAccountResponse"/>
	</wsdl:message>

	<wsdl:portType name="AimsDrtsService">

		<wsdl:operation name="CreateAccount">
			<wsdl:input message="tns:CreateAccountRequest"/>
			<wsdl:output message="tns:CreateAccountResponse"/>
		</wsdl:operation>

		<wsdl:operation name="DeleteAccount">
			<wsdl:input message="tns:DeleteAccountRequest"/>
			<wsdl:output message="tns:DeleteAccountResponse"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="AimsDrtsServiceSOAP" type="tns:AimsDrtsService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="CreateAccount">
			<soap:operation soapAction="http://aims.fsa.ed.gov/AimsDrtsService/CreateAccount"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeleteAccount">
			<soap:operation soapAction="http://aims.fsa.ed.gov/AimsDrtsService/DeleteAccount"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="AimsDrtsService">
		<wsdl:port binding="tns:AimsDrtsServiceSOAP" name="AimsDrtsServiceSOAP">
			<soap:address location="http://localhost:9080/drts/services/AimsDrtsServiceSOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
