DRTS/WebContent/META-INF/wsdl/aimsDrts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AimsDrtsService"
	targetNamespace="http://drts.fsa.ed.gov/AimsDrtsService"
	xmlns:tns="http://drts.fsa.ed.gov/AimsDrtsService" xmlns:n1="http://drts.fsa.ed.gov/AimsDrts"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://drts.fsa.ed.gov/AimsDrtsService"
			elementFormDefault="qualified">
			<xsd:import namespace="http://drts.fsa.ed.gov/AimsDrts"
				schemaLocation="aimsDrts.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CreateAccountRequest">
		<wsdl:part name="CreateAccountRequest" element="n1:CreateAccountRequest" />
	</wsdl:message>
	<wsdl:message name="CreateAccountResponse">
		<wsdl:part name="CreateAccountResponse" element="n1:CreateAccountResponse" />
	</wsdl:message>

	<wsdl:message name="DeleteAccountRequest">
		<wsdl:part name="DeleteAccountRequest" element="n1:DeleteAccountRequest" />
	</wsdl:message>
	<wsdl:message name="DeleteAccountResponse">
		<wsdl:part name="DeleteAccountResponse" element="n1:DeleteAccountResponse" />
	</wsdl:message>

	<wsdl:portType name="AimsDrtsService">

		<wsdl:operation name="CreateAccount">
			<wsdl:input message="tns:CreateAccountRequest" />
			<wsdl:output message="tns:CreateAccountResponse" />
		</wsdl:operation>

		<wsdl:operation name="DeleteAccount">
			<wsdl:input message="tns:DeleteAccountRequest" />
			<wsdl:output message="tns:DeleteAccountResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="AimsDrtsServiceSOAP" type="tns:AimsDrtsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="CreateAccount">
			<soap:operation
				soapAction="http://aims.fsa.ed.gov/AimsDrtsService/CreateAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeleteAccount">
			<soap:operation
				soapAction="http://aims.fsa.ed.gov/AimsDrtsService/DeleteAccount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="AimsDrtsService">
		<wsdl:port binding="tns:AimsDrtsServiceSOAP" name="AimsDrtsServiceSOAP">
			<soap:address location="https://localhost/drts/AimsDrtssService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
